body, html {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
    scrollbar-color: #333 #ffffff;
    scrollbar-width: none; /* Firefox */
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 8fr 2fr; /* Divide into three columns (8:1:1) */
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "one two"
      "one four"
      "one four"
      "one four";
}

.sacrifice::-webkit-scrollbar {
    display: none;
}

.sacrifice {
    grid-area: one;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.jewellery,
.coins,
.coins2 {
    width: 0.8%;
}

.elephant {
    width: 3%;
}

.horse {
    width: 1.5%;
}

.chariot {
    width: 4%;
}

.cow {
    width: 2%;
}

.female-slave,
.male-slave {
    width: 1%;
}

.woman {
    width: 0.6%;
}

.children {
    width: 1.5%;
}

.title {
    grid-area: two;
    padding: 10px;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
}

.explanation {
    font-size: medium;
    font-weight: normal;
    font-style: normal;
}

.vessentara {
    grid-area: four;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.vessentara > img {
    width: 3%;
    align-self: flex-start;
}

.quote {
    width: 100%;
    margin-top: 30px;
    align-self: flex-end;
}
